img {
  width: 30px;
  height: 30px;
}
table {
  background-color: var(--primary-color);
  color: white;
  padding: 28px;
  text-align: center;
  border-collapse: collapse;
  border-radius: 8px;
}
th {
  background-color: var(--primary-color);
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
}
thead tr {
  margin-bottom: 4px;
}
tbody,
tr {
  text-align: center;
  font-weight: 300;
}
tbody tr:nth-child(even) {
  background-color: var(--muted-color);
}
tbody tr:nth-child(odd) {
  background-color: var(--secondary-color);
}
tbody tr:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
