.container {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  margin-bottom: 12px;
}
.input {
  height: 40px;
  width: 300px;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  border-radius: 8px;
  border: 1px solid black;
  margin-bottom: 12px;
}
.input:focus {
  border-color: var(--muted-color);
}
button {
  margin-top: 24px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--font-color);
  border: none;
}
button:hover {
  background-color: var(--muted-color);
  transform: translateY(2px);
}
